*.pyc
__pycache__
.DS_Store
/MANIFEST
/dist
/build
ghostdriver.log
geckodriver.log
/.sass-cache
/.coverage
/.mypy_cache
/.pytest_cache
/.venv
/redbot.egg-info
/.npx-cache
/src/node_modules
/src/package-lock.json
/throwaway
