[Unit]
Description="REDbot"
After=network.target

[Service]
Type=simple
User=redbot
Group=redbot
DynamicUser=true

# Process
Environment=PYTHONUNBUFFERED='true' SYSTEMD_WATCHDOG='true'
WorkingDirectory=/opt/redbot
ExecStart=/opt/redbot/app/bin/redbot_daemon /opt/redbot/config/config.txt
SyslogIdentifier=redbot
Restart=always
SystemCallArchitectures=native

# Watchdog
WatchdogSec=10

# Sandbox
NotifyAccess=main
NoNewPrivileges=true
LockPersonality=true
ProtectSystem=strict
ProtectProc=invisible
ProtectHostname=true
ProtectHome=tmpfs
ProtectClock=true
ProtectKernelModules=true
ProtectKernelTunables=true
ProtectControlGroups=true
PrivateDevices=true
SystemCallFilter=@system-service
SystemCallErrorNumber=EPERM
CapabilityBoundingSet=
DevicePolicy=closed
RestrictNamespaces=true
RestrictAddressFamilies=AF_INET AF_INET6 AF_UNIX
StateDirectory=redbot
LogsDirectory=redbot
LimitCORE=0

# Resource Limits
CPUQuota=60%
MemoryLow=40M
MemoryHigh=50M
MemoryMax=60M
MemorySwapMax=60M

[Install]
WantedBy=multi-user.target
