  <br/>

  <div class="footer">
    <p class="navigation">
      <a href="https://REDbot.org/about/">about</a> |
      <script type="text/javascript">
         document.write('<a href="#help" id="help"><strong>help</strong></a> |')
      </script>
      <a href="https://twitter.com/redbotorg"><span class="twitterlogo"></span></a> |
      <span class="help hidden">Drag the bookmarklet to your bookmark bar - it makes checking easy!</span>
      <a href="javascript:location%%20=%%20'{{ baseuri }}?uri='+encodeURIComponent(location);%%20void%%200"
       title="drag me to your toolbar to use REDbot any time.">REDbot</a> bookmarklet
    </p>
  </div>

</body></html>
