    <br/>

    <div class="footer">
        <p class="navigation">
            {{ _("version") }} {{ redbot_version }} (httplint {{ httplint_version }}) |
            <a href="https://REDbot.org/about/">{{ _("about") }}</a> |
            <span class="js"><a href="#help" id="help"><strong>{{ _("help") }}</strong></a> |</span>
            <span class="help hidden">{{ _("Drag the bookmarklet to your bookmark bar - it makes checking easy!") }}</span>
            <a class="js" href="javascript:(function(){window.open('{{ baseuri }}?uri='+encodeURIComponent(location))})();"
                title="{{ _('drag me to your toolbar to use REDbot any time.') }}">REDbot</a> {{ _("bookmarklet") }}
        </p>

        {% if captcha_provider == "hcaptcha" %}
        <p class="btw">{% trans %}This site is protected by hCaptcha and its{% endtrans %}
        <a href="https://hcaptcha.com/privacy">{% trans %}Privacy Policy{% endtrans %}</a> {% trans %}and{% endtrans %}
        <a href="https://hcaptcha.com/terms">{% trans %}Terms of Service{% endtrans %}</a> {% trans %}apply.{% endtrans %}</p>
        {% endif %}
    </div>

</body></html>
