{% macro table_header(heading) %}
<tr>
  <th title="The URI tested. Click to run a detailed analysis.">{{ heading or "URI" }}</th>
  <th title="The HTTP status code returned.">status</th>
  <th title="The size of the response body, in bytes.">size</th>
  <th title="Whether a shared (e.g., proxy) cache can store the response.">shared</th>
  <th title="Whether a private (e.g., browser) cache can store the response.">private</th>
  <th title="How long the response had been cached before REDbot got it.">age</th>
  <th title="How long a cache can treat the response as fresh.">freshness</th>
  <th title="Whether If-Modified-Since validation is supported, using Last-Modified.">IMS</th>
  <th title="Whether If-None-Match validation is supported, using ETags.">INM</th>
  <th title="Whether negotiation for gzip compression is supported; if so, the percent of the original size saved.">gzip</th>
  <th title="Whether partial responses are supported.">partial</th>
  <th title="Issues encountered.">notes</th>
</tr>
{%- endmacro %}


{% macro yes_no(value) %}
  {% if value == True %}
    <span class="fa yes"></span>
  {% elif value == False %}
    <span class="fa no"></span>
  {% elif value == None %}
    <span class="fa maybe"></span>
  {% endif %}
{%- endmacro %}


<table id='summary'>
  {% for heading, droids in droid_lists %}
  {% if heading != "" %}
  {% set heading_w_count = heading + " (" + droids|length|string + ")" %}
  {{ table_header(heading_w_count) }}
  {% else %}
  {{ table_header(heading) }}
  {% endif %}
  {% for resource in droids %}
  <tr class="droid">
    <td class="uri">
        <a href="?{{ resource.request.uri|req_qs(use_stored=False) }}" title="{{ resource.request.uri }}"
        class="{% if resource.response.parsed_headers.get('content-type', [''])[0][:6] == "image/"  %}preview {% endif %}
{% if resource.request.uri|length > 80 %}fade">{{ resource.request.uri[:80] }}
{% else %}">{{ resource.request.uri }}
{% endif %}
        </a>
    </td>
  {% if resource.response.complete %}
    {% if resource.response.status_code in ["301", "302", "303", "307", "308"] and "location" in resource.response.parsed_headers %}
    <td><a href="?descend=True&{{ resource.response.parsed_headers['location']|req_qs(use_stored=False) }}">{{ resource.response.status_code }}</a></td>
    {% elif resource.response.status_code in ["400", "404", "410"] %}
    <td class="bad">{{ resource.response.status_code }}</td>
    {% else %}
    <td>{{ resource.response.status_code }}</td>
    {% endif %}
    <td>{{ resource.response.payload_len|f_num(by1024=True) }}</td>
    <td>{{ yes_no(resource.response.store_shared) }}</td>
    <td>{{ yes_no(resource.response.store_private) }}</td>
    <td>{{ resource.response.age|relative_time(0,0) }}</td>
    <td>{{ resource.response.freshness_lifetime|relative_time(0,0) }}</td>
    <td>{{ yes_no(resource.ims_support) }}</td>
    <td>{{ yes_no(resource.inm_support) }}</td>
    {% if resource.gzip_support %}
    <td>{{ resource.gzip_savings }}%</td>
    {% else %}
    <td>{{ yes_no(resource.gzip_support) }}</td>
    {% endif %}
    <td>{{ yes_no(resource.partial_support) }}</td>
    <td>
    {% for problem in resource.notes if problem.level in [levels.WARN, levels.BAD] %}
      <span class='prob_num'>{{ problem|index_problem }}<span class='hidden'><span class='tip'>{{ problem.show_text(formatter.lang) }}</span></span></span>
    {% endfor %}
    </td>
  {% else %}
     <td colspan="11">
     {% if resource.response.http_error == None %}
     response incomplete
     {% else %}
     {{ resource.response.http_error.desc or "unknown problem" }}
     {% endif %}
     </td>
  {% endif %}
  </tr>
  {% endfor %}
  {% endfor %}
</table>

<p class="options">
  <span class='option' title='View a HAR (HTTP ARchive, a JSON format) file for this test'>
    <a href="?{{ har_link }}" accesskey="h">view har</a>
  </span>
  {% if not is_saved %}
  {% if allow_save %}
  <span class='option' title='Save these results for future reference'>
    <a href='#' id='save' accesskey='s'>save</a>
  </span>
  {% endif %}
  {% endif %}
</p>

<div id='details'>
  <br />
  <h2>Notes</h2>
  <ol>
  {% for problem in problems %}
    <li class='{{ problem.level.value }} {{ problem.subject }} note' data-offset='{{ loop.index }}'>
      {{ loop.index }}. <span>{{ problem.show_summary(lang) }}</span>
    </li>
  {% endfor %}
  </ol>
</div>

{% include 'footer.html' %}
