{% macro table_header(heading) %}
<tr>
    <th title="{{ _('The URI tested. Click to run a detailed analysis.') }}">{{ heading or _("URI") }}</th>
    <th title="{{ _('The HTTP status code returned.') }}">{{ _("status") }}</th>
    <th title="{{ _('The size of the response content, in bytes.') }}">{{ _("size") }}</th>
    <th title="{{ _('Whether a shared (e.g., proxy) cache can store the response.') }}">{{ _("shared") }}</th>
    <th title="{{ _('Whether a private (e.g., browser) cache can store the response.') }}">{{ _("private") }}</th>
    <th title="{{ _('How long the response had been cached before REDbot got it.') }}">{{ _("age") }}</th>
    <th title="{{ _('How long a cache can treat the response as fresh.') }}">{{ _("freshness") }}</th>
    <th title="{{ _('Whether If-Modified-Since validation is supported, using Last-Modified.') }}">{{ _("IMS") }}</th>
    <th title="{{ _('Whether If-None-Match validation is supported, using ETags.') }}">{{ _("INM") }}</th>
    <th
        title="{{ _('Whether negotiation for gzip compression is supported; if so, the percent of the original size saved.') }}">
        {{ _("gzip") }}</th>
    <th title="{{ _('Whether partial responses are supported.') }}">{{ _("partial") }}</th>
    <th title="{{ _('Issues encountered.') }}">{{ _("notes") }}</th>
</tr>
{%- endmacro %}

{% macro yes_no(value) %}
{% if value == True %}
<span class="yes"><img src="{{ static }}/icons/check-circle.svg" /></span>
{% elif value == False %}
<span class="no"><img src="{{ static }}/icons/times-circle.svg" /></span>
{% elif value == None %}
<span class="maybe"><img src="{{ static }}/icons/question-circle.svg" /></span>
{% endif %}
{%- endmacro %}

<table id='summary'>
    {% for heading, droids in droid_lists %}
    {% if heading != "" %}
    {% set heading_w_count = heading + " (" + droids|length|string + ")" %}
    {{ table_header(heading_w_count) }}
    {% else %}
    {{ table_header(heading) }}
    {% endif %}
    {% for resource in droids %}
    <tr class="droid">
        <td class="uri">
            {% set pclass = " preview" if resource.response.headers.parsed.get('content-type', [''])[0][:6] == "image/"
            else "" %}
            {% set fclass = " fade" if resource.request.uri| length > 80 else "" %}
            {% set class = pclass + fclass %}
            {% set display_uri = resource.request.uri[:80] %}
            {{ resource.request.uri|redbot_link(display_uri, use_stored=False, css_class=class,
            title=resource.request.uri, referer=True) }}
            </a>
        </td>
        {% if resource.response.complete %}
        {% if resource.response.status_code in ["301", "302", "303", "307", "308"] and "location" in
        resource.response.headers.parsed %}
        <td>{{ resource.response.headers.parsed['location']|redbot_link(resource.response.status_code, use_stored=False,
            descend=True, referer=True) }}</td>
        {% elif resource.response.status_code in ["400", "404", "410"] %}
        <td class="bad">{{ resource.response.status_code }}</td>
        {% else %}
        <td>{{ resource.response.status_code_str }}</td>
        {% endif %}
        <td>{{ resource.response.content_length|f_num(by1024=True) }}</td>
        <td>{{ yes_no(resource.response.caching.store_shared) }}</td>
        <td>{{ yes_no(resource.response.caching.store_private) }}</td>
        <td>{{ resource.response.caching.age|relative_time(0,0) or '-' }}</td>
        <td>{{ resource.response.caching.freshness_lifetime_shared|relative_time(0,0) or '-' }}</td>
        <td>{{ yes_no(resource.ims_support) }}</td>
        <td>{{ yes_no(resource.inm_support) }}</td>
        {% if resource.gzip_support %}
        <td>{{ resource.gzip_savings }}%</td>
        {% else %}
        <td>{{ yes_no(resource.gzip_support) }}</td>
        {% endif %}
        <td>{{ yes_no(resource.partial_support) }}</td>
        <td>
            {% for problem in resource.response.notes if problem.level in [levels.WARN, levels.BAD] %}
            <span class='prob_num'>{{ problem|index_problem }}<span class='hidden'><span class='tip'>{{ problem.detail
                        }}</span></span></span>
            {% endfor %}
        </td>
        {% else %}
        <td colspan="11">
            {% if resource.fetch_error == None %}
            {{ _("response incomplete") }}
            {% else %}
            {{ resource.fetch_error.desc or _("unknown problem") }}
            {% endif %}
        </td>
        {% endif %}
    </tr>
    {% endfor %}
    {% endfor %}
</table>

<div class="options">
    <div class='option'>
        {{ har_link }}
    </div>
    {% if not is_saved %}
    {% if allow_save %}
    <div class='option' title='{{ _("Save these results for future reference") }}'>
        <a href='#' id='save' accesskey='s'>{{ _("save") }}</a>
    </div>
    {% endif %}
    {% else %}
    {% if save_mtime %}
    <div class='option' title='{{ _("This result is saved") }}'>
        {{ _("Saved until {0} from now").format(save_mtime|relative_time(None,0)) }}
    </div>
    {% endif %}
    {% endif %}
</div>

<div id='details'>
    <br />
    <h2>{{ _("Notes") }}</h2>
    <ol>
        {% for problem in problems %}
        <li class='{{ problem.level.value }} {{ problem.subject }} note' data-offset='{{ loop.index }}'>
            {{ loop.index }}. <span>{{ problem.summary }}</span>
            {% if problem.subnotes %}
            <ul>
                {% for subnote in problem.subnotes %}
                <li class='{{ subnote.level.value }} {{ subnote.subject }} note'>
                    <span>{{ subnote.summary }}</span>
                </li>
                {% endfor %}
            </ul>
            {% endif %}
        </li>
        {% endfor %}
    </ol>
</div>

{% include 'footer.html' %}
