/* layout, major elements */
body {
  background-color: #fcfcfc;
  color: #111;
  font: 12pt/14pt "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 1em 40px;
  max-width: 1240px; }
  body.blank {
    margin: 6em auto 3em auto;
    width: 650px; }

#left_column {
  width: 650px;
  float: left;
  margin: 0;
  padding: 0; }

#right_column {
  width: 550px;
  float: right;
  margin: 1em 0 0 40px;
  padding: 0; }

@media screen and (max-width: 1320px) {
  #left_column, #right_column {
    width: 650px;
    margin: 0;
    padding: 0;
    float: left;
    clear: both; } }

a, .post_link {
  color: blue;
  text-decoration: underline; }

h1 {
  color: #111;
  padding: 0;
  margin: 10px 0px;
  font-size: 1.8em;
  width: 100%; }
  h1 a {
    color: #444;
    text-decoration: none; }

h2 {
  font-size: 1.1em; }

h3 {
  font-size: 0.9em;
  margin: 0;
  padding: 0; }

.hidden {
  display: none; }

.hilight {
  color: #d33; }

.save {
  color: #737373; }

.version {
  text-align: center;
  color: #737373;
  font-size: 0.8em;
  padding-top: 5em; }

.navigation {
  text-align: center;
  color: #737373;
  font-size: 0.8em; }

.btw {
  text-align: center;
  color: #737373;
  font-size: 0.8em;
  font-style: italic; }

br {
  clear: both; }

#red_status {
  color: #737373;
  font-size: 0.8em;
  margin-top: 1em;
  text-align: center;
  color: #737373;
  font-size: 0.8em;
  width: 650px; }

#final_status {
  color: #737373;
  font-size: 0.8em;
  position: absolute;
  top: 2em;
  right: 2em; }

form.link {
  display: inline; }

form.link input[type='submit'] {
  border: none;
  padding: 0;
  background: none;
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
  color: blue;
  text-decoration: underline;
  text-align: left; }

/* footer */
body.blank > .footer {
  position: absolute;
  margin: 0 auto;
  bottom: 15%;
  width: 650px; }

/* news */
.news {
  text-align: center;
  font-size: 1.0;
  font-weight: normal;
  width: 650px; }

.news-banner {
  color: #737373; }

/* errors */
.error {
  color: #eaeaea;
  background-color: #a33;
  -webkit-border-radius: 0.5em;
  -moz-border-radius: 0.5em;
  -ms-border-radius: 0.5em;
  border-radius: 0.5em;
  padding: 0.5em;
  font-weight: bold;
  font-size: 1.1em;
  width: 650px;
  box-sizing: content-box; }

.error a {
  color: white; }

/* request */
input:focus {
  outline: 0; }

input#uri, input#go {
  border: 2px solid #72726E;
  font-size: 1.1em;
  height: 30px;
  padding: 1px;
  margin: 0;
  box-sizing: border-box; }

input#uri {
  width: 610px;
  color: #111;
  border-right: none; }
  input#uri::placeholder {
    color: #c4c4c4; }

input#go {
  width: 40px;
  border-left: none;
  border-right: none;
  background-color: #d33;
  color: white; }

.add_req_hdr {
  -webkit-border-bottom-right-radius: 0.5em;
  -webkit-border-bottom-left-radius: 0.5em;
  -moz-border-radius-bottomleft: 0.5em;
  -moz-border-radius-bottomright: 0.5em;
  background-color: #72726E;
  width: 650px;
  margin: 0; }

#add_req_hdr, .delete_req_hdr {
  font-size: 0.65em;
  margin-left: 2em;
  color: white;
  text-decoration: none; }

.delete_req_hdr {
  margin-left: 0.5em; }

.req_hdr {
  background-color: #72726E;
  width: 650px;
  white-space: nowrap; }

input.hdr_name, select.hdr_name {
  width: 130px;
  box-sizing: border-box; }

input.hdr_val, select.hdr_val {
  width: 480px;
  box-sizing: border-box; }

option[value="other..."] {
  color: #737373;
  font-style: italic; }

.req_link {
  font-size: 75%;
  margin-left: 0.75em;
  font-weight: normal; }

@media screen and (max-width: 770px) {
  .req_hdr, .add_req_hdr {
    width: 100%; }
  input#uri {
    width: calc(100% - 40px); } }

/* response detail */
#response, .nonfinal_response {
  font-size: 10pt;
  font-family: Courier, monospace;
  background-color: #111;
  color: #ddd;
  -webkit-border-radius: 0.75em;
  -moz-border-radius: 0.75em;
  -ms-border-radius: 0.75em;
  border-radius: 0.75em;
  border: 1px solid black;
  padding: 1em 1.5em;
  margin-bottom: 0;
  overflow-x: auto; }
  #response a, .nonfinal_response a, #response .post_link, .nonfinal_response .post_link {
    color: #ccf; }

.nonfinal_response {
  background-color: rgba(17, 17, 17, 0.6);
  border: none; }

.hdr.hilight {
  color: white;
  font-weight: bold; }

.options {
  margin-top: 0.2em;
  margin-bottom: 2em;
  padding-top: 0;
  text-align: center; }

.option {
  padding-right: 2em;
  display: inline;
  font-size: 0.75em; }

/* response body */
#body {
  position: relative; }
  #body .prettyprint {
    position: absolute;
    font: 0.80/1.00 Consolas, "Lucida Console", Monaco, monospace;
    overflow-x: auto;
    overflow-y: hidden;
    background-color: #fff;
    -webkit-border-radius: 1em;
    -moz-border-radius: 1em;
    -ms-border-radius: 1em;
    border-radius: 1em;
    border: 1px solid #ccc;
    padding: 9px;
    width: 100%; }

/* summary table for multiple responses */
table#summary {
  font-size: 0.8em;
  width: 100%;
  border-spacing: 0;
  background-color: #111;
  color: #ddd;
  -webkit-border-radius: 1em;
  -moz-border-radius: 1em;
  -ms-border-radius: 1em;
  border-radius: 1em;
  border: 1px solid black;
  padding: 1em;
  margin-top: 1em; }
  table#summary th {
    text-align: left;
    padding: 2em 0.5em 0.25em 0.5em;
    border-bottom: 1px solid #666;
    vertical-align: bottom; }
  table#summary td {
    text-align: center;
    padding: 0.25em 0.4em;
    white-space: nowrap; }
  table#summary tr:hover td {
    background-color: #333; }
  table#summary td.uri {
    text-align: left;
    font-family: monospace; }
  table#summary td a, table#summary td .post_link {
    color: #ccf;
    text-decoration: none; }

table#summary a.fade {
  color: #111;
  background: linear-gradient(90deg, #ccccff 0%, #ccccff 93%, rgba(204, 204, 255, 0) 100%);
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text; }

.yes img {
  fill: #94C594;
  filter: invert(80%) sepia(25%) saturate(395%) hue-rotate(71deg) brightness(89%) contrast(88%);
  height: 18px; }

.no img {
  fill: #D98080;
  filter: invert(89%) sepia(22%) saturate(4693%) hue-rotate(301deg) brightness(90%) contrast(86%);
  height: 18px; }

.maybe img {
  fill: #AA8A22;
  filter: invert(63%) sepia(66%) saturate(5879%) hue-rotate(29deg) brightness(105%) contrast(73%);
  height: 18px; }

.tip {
  display: none; }

.tippy-box[data-theme~='redbot'] {
  -webkit-border-radius: 0.5em;
  -moz-border-radius: 0.5em;
  -ms-border-radius: 0.5em;
  border-radius: 0.5em;
  background-color: #679;
  opacity: 0.95;
  padding: 9px;
  color: white;
  font-size: 0.85em; }
  .tippy-box[data-theme~='redbot'] img {
    max-width: 440px; }

#captcha_popup {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 500; }

/* note lists */
ul {
  margin-top: 0.2em;
  margin-left: 12pt; }

ul ul {
  padding-left: 9pt;
  margin-bottom: 0.4em; }

li {
  padding-left: 4pt;
  margin-bottom: 6px; }

/* note levels */
li.note {
  list-style-type: none;
  position: relative; }

li.note.hilight {
  font-weight: bold; }

.good {
  color: #659365; }

li.good:before {
  position: absolute;
  display: block;
  content: '';
  left: -1.3em;
  width: 1em;
  height: 1.1em;
  /* unrelated to image height; this is so it gets snipped */
  background-repeat: no-repeat;
  background-size: 1em;
  background-position: 0 .1em;
  background-image: url("icons/check-circle.svg");
  filter: invert(51%) sepia(37%) saturate(361%) hue-rotate(71deg) brightness(96%) contrast(88%); }

.warning {
  color: #AA8A22; }

li.warning:before {
  position: absolute;
  display: block;
  content: '';
  left: -1.3em;
  width: 1em;
  height: 1.1em;
  /* unrelated to image height; this is so it gets snipped */
  background-repeat: no-repeat;
  background-size: 1em;
  background-position: 0 .1em;
  background-image: url("icons/exclamation-circle.svg");
  filter: invert(50%) sepia(100%) saturate(343%) hue-rotate(8deg) brightness(90%) contrast(90%); }

.bad {
  color: #a64029; }

li.bad:before {
  position: absolute;
  display: block;
  content: '';
  left: -1.3em;
  width: 1em;
  height: 1.1em;
  /* unrelated to image height; this is so it gets snipped */
  background-repeat: no-repeat;
  background-size: 1em;
  background-position: 0 .1em;
  background-image: url("icons/times-circle.svg");
  filter: invert(22%) sepia(64%) saturate(1739%) hue-rotate(345deg) brightness(104%) contrast(84%); }

.info {
  color: #111; }

li.info:before {
  position: absolute;
  display: block;
  content: '';
  left: -1.3em;
  width: 1em;
  height: 1.1em;
  /* unrelated to image height; this is so it gets snipped */
  background-repeat: no-repeat;
  background-size: 1em;
  background-position: 0 .1em;
  background-image: url("icons/info-circle.svg");
  filter: invert(35%) sepia(28%) saturate(2614%) hue-rotate(174deg) brightness(98%) contrast(88%); }

/* help bubbles */
/* http://konigi.com/tools/css-sticky-notes */
.help {
  -webkit-box-shadow: #DDD 0px 1px 2px;
  position: absolute;
  background-color: #F4F39E;
  border-color: #DEE184;
  color: #333;
  text-align: center;
  margin: 3.5em 0 2.5em 0;
  padding: 1.25em 1em;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25);
  font-family: Chalkboard, 'Comic Sans';
  font-size: 14px;
  width: 250px; }

.help.right {
  margin: 3em 0 2.5em 290px; }

.help:after {
  display: block;
  content: "";
  position: absolute;
  width: 110px;
  height: 30px;
  top: -21px;
  left: 30%;
  border: 1px solid #fff;
  background: rgba(254, 254, 254, 0.6);
  -webkit-box-shadow: 0px 0 3px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 0 3px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0 3px rgba(0, 0, 0, 0.1); }
