@import 'red_mixins.scss';

$left_width: 650px;
$right_width: 550px;
$column_spacing: 50px;
$max_width: $left_width + $right_width + $column_spacing;
$text_colour: #111;
$detail_text_colour: #aaa;
$console_colour: #111;
$header_colour: #ddd;
$detail_font_size: 0.8em;
$vertical_space: 3em;

// --------------------------------------------------------------

/* layout, major elements */

body {
  background-color: #f9f9f9;
  color: $text_colour;
  font: 12pt/14pt "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 1em 50px;
  max-width: $max_width; 
  &.blank {
    margin: $vertical_space * 2 auto $vertical_space auto;
    width: $left_width;
  }
}

#left_column {
  width: $left_width;
  float: left;
  margin: 0;
  padding: 0;
}

#right_column {
  width: $right_width;
  float: right;
  margin: 1em 0 0 $column_spacing;
  padding: 0;
}

@media screen and (max-width: $max_width + ($column_spacing * 2.5)) {
  #left_column, #right_column {
    width: $left_width;
    margin: 0;
    padding: 0;
    float: left;
    clear: both;
	}
}

h1 {
  color: $text_colour;
  padding: 0;
  margin: 10px 0px;
  font-size: 1.8em;
  width: 100%;
  a {
    color: #444;
    text-decoration: none;
  }
}

.hilight {
  color: #d33;
}

.save {
  color: $detail_text_colour;
}

h2 {
  font-size: 1.1em;
}

h3 {
  font-size: 0.9em;
  margin: 0;
  padding: 0;
}

.hidden {
  display: none;
}

.version {
  @include centered-detail;
  padding-top: 5em;
}

.navigation {
  @include centered-detail;
}

#red_status {
  color: $detail_text_colour;
  font-size: $detail_font_size;
  position: absolute;
  bottom: 1em;
  right: 50px;
}

.btw {
  @include centered-detail;
  font-style: italic;
}

br {
  clear:both;
}


/* note lists */

ul {
  margin-top: 0.2em;
  margin-left: 12pt;
}
ul ul {
  padding-left: 9pt;
  margin-bottom: 0.4em;
}
li {
  padding-left: 4pt;
}

/* request */

input#uri {
  width: $left_width - 7px;
  font-size: 1.1em;
  &.active {
    color: $text_colour;
  }
  &.inactive {
    color: lighten($text_colour, 70%);
  }
}

.add_req_hdr {
  -webkit-border-bottom-right-radius: 0.5em;
  -webkit-border-bottom-left-radius: 0.5em;
  -moz-border-radius-bottomleft: 0.5em;
  -moz-border-radius-bottomright: 0.5em;
  background-color: #898984;
  width: $left_width;
  margin: 0;
}

#add_req_hdr {
  font-size: 0.65em;
  margin-left: 2em;
  color: white;
  text-decoration: none;
}

.delete_req_hdr {
  @extend #add_req_hdr;
  margin-left: 0.5em;
}

.req_hdr {
  background-color: #898984;
  width: $left_width;
  white-space: nowrap;
}

.hdr_name, .hdr_val {
  font-size: 0.7em;
}

input.hdr_val {
  width: 200px;
  max-width: 200px;
}

option[value="other..."] {
  color: $detail_text_colour;
  font-style: italic;
}


/* response detail */

#response {
  font-size: 10pt;
  font-family: Courier, monospace;
  background-color: $console_colour;
  color: $header_colour;
  @include rounded_corners(0.75em);
  border: 1px solid black;
  padding: 1em 0;
  margin-bottom: 0;
  overflow-x: auto;
  a {
    color: #ccf;
  }
}

.hdr.hilight {
  color: lighten($header_colour, 100%);
  font-weight: bold;
}

.options {
  margin-top: 0.2em;
  margin-bottom: 2em;
  padding-top: 0;
  text-align: center;
  font-size: 0.75em;
}

.options > * {
  padding-right: 2em;
}


/* summary table */

table#summary {
  font-size: 0.8em;
  width: 100%;
  border-spacing: 0;
  background-color: $console_colour;
  color: #ddd;
  @include rounded_corners(1em);
  border: 1px solid black;
  padding: 1em;
  margin-top: 1em;
  th {
    text-align: left;
    padding: 2em 0.5em 0.25em 0.5em;
    border-bottom: 1px solid #666;
    vertical-align: bottom;
  }
  td {
    text-align: center;
    padding: 0.25em 0.4em;
    white-space: nowrap;
  }
  tr:hover td {
    background-color: #333;
  }
  td.uri {
    text-align: left;
    font-family: monospace;
  }
  td a {
    color: #ccf;
  }
}

.fade1 { opacity: 0.75; }
.fade2 { opacity: 0.5; }
.fade3 { opacity: 0.25; }


/* response body */

#body {
  display: none;
  position: absolute;
  right: 3em;
  left: 3em;
  .prettyprint {
    font: 0.80/1.00 Consolas, "Lucida Console", Monaco, monospace;
    overflow-x: auto;
    overflow-y: hidden;
    background-color: #fff;
    @include rounded_corners(1em);
    border: 1px solid #ccc;
    padding: 9px;
  }
}

/* note levels */

.good {
  color: #060;
  list-style-image: url(icon/accept1.png);
}
.warning {
  color: #660;
}
ul li.warning {
  list-style-image: url(icon/yellowflag1.png);
}
.bad {
  color: #800;
}
td.bad {
  color: #e66;
  font-style: bold;
}
ul li.bad {
    list-style-image: url(icon/remove-16.png);
}
.info {
  color: $text_colour;
  list-style-image: url(icon/infomation-16.png);
}

.req_link {
  font-size: 75%;
  margin-left: 0.75em;
  font-weight: normal;
}

/* popups */

#popup {
  position: absolute;
  @include rounded_corners(0.5em);
  background-color: #679;
  opacity: 0.95;
  padding: 9px;
  color: white;
  font-size: 0.85em;
  z-index: 10;
  display: none;
  img {
    max-width: 440px;
  }
}

/* footer */

.footer {
  max-width: $left_width;
}

body.blank > .footer {
  position: absolute;
  margin: 0 auto;
  bottom: 1em;
  width: $left_width;
}

/* news */

.news {
  text-align: center;
  font-size: 1.0;
  font-weight: normal;
  width: $left_width;
}
.news-banner {
  color: $detail_text_colour;
}

/* errors */

.error {
  color: #eaeaea;
  background-color: #a33;
  @include rounded_corners(0.5em);
  padding: 0.5em;
  font-weight: bold;
  font-size: 1.1em;
  max-width: $left_width;
}

/* help bubbles */
/* http://konigi.com/tools/css-sticky-notes */

.help {
  display: none;
  -webkit-box-shadow: #DDD 0px 1px 2px;
  position: absolute;
  background-color: #F4F39E;
  border-color: #DEE184;
  color: #333;
  text-align: center;
  margin: 3.5em 0 2.5em 0;
  padding: 1.25em 1em;
  -webkit-box-shadow: 0px 1px 3px rgba(0,0,0,0.25);
  -moz-box-shadow: 0px 1px 3px rgba(0,0,0,0.25);
  box-shadow: 0px 1px 3px rgba(0,0,0,0.25);
  font-family: Chalkboard, 'Comic Sans';
  font-size: 14px;
  width: 250px;
}

.help.right {
  margin: $vertical_space 0 2.5em 290px;
}

.help:after {
  display: block;
  content: "";
  position: absolute;
  width: 110px;
  height: 30px;
  top: -21px;
  left: 30%;
  border: 1px solid #fff;
  background: rgba(254, 254, 254, .6);
  -webkit-box-shadow: 0px 0 3px rgba(0,0,0,0.1);
  -moz-box-shadow: 0px 0 3px rgba(0,0,0,0.1);
  box-shadow: 0px 0 3px rgba(0,0,0,0.1);
}


/* iPad, iPhone, etc. -------------------- */

@media only screen and (max-device-width : 1024px) {
  #left_column, #right_column {
    width: 100%;
    margin: 0;
    padding: 0;
    float: left;
  }
  .req_hdr, .add_req_hdr { width: 100%; }
  input#uri { width: 98%; }
}