$left_width: 650px;
$right_width: 550px;
$column_spacing: 50px;
$max_width: $left_width + $right_width + $column_spacing;
$text_colour: #111;
$detail_text_colour: #aaa;
$console_colour: #111;
$header_colour: #ddd;
$detail_font_size: 0.8em;
$vertical_space: 3em;
