/* request */

input:focus {
  outline: 0;
}

input#uri, input#go {
  border: 2px solid $input_colour;
  font-size: 1.1em;
  height: 30px;
  padding: 1px;
  margin: 0;
  box-sizing: border-box;
}

#request_form {
  width: $left_width;
}

input#uri {
  width: $left_width - 40px;
  color: $text_colour;
  border-right: none;
  &::placeholder {
    color: lighten($text_colour, 70%);
  }
}

input#go {
  width: 40px;
  border-left: none;
  border-right: none;
  background-color: #d33;
  color: white;
}

.add_req_hdr {
  -webkit-border-bottom-right-radius: 0.5em;
  -webkit-border-bottom-left-radius: 0.5em;
  -moz-border-radius-bottomleft: 0.5em;
  -moz-border-radius-bottomright: 0.5em;
  background-color: $input_colour;
  width: $left_width;
  margin: 0;
}

#add_req_hdr {
  font-size: 0.65em;
  margin-left: 2em;
  color: white;
  text-decoration: none;
}

.delete_req_hdr {
  @extend #add_req_hdr;
  margin-left: 0.5em;
}

.req_hdr {
  background-color: $input_colour;
  width: $left_width;
  white-space: nowrap;
}

input.hdr_name, select.hdr_name {
  width: 130px;
  box-sizing: border-box;
}

input.hdr_val, select.hdr_val {
  width: $left_width - 130px - 40px;
  box-sizing: border-box;
}

option[value="other..."] {
  color: $detail_text_colour;
  font-style: italic;
}

.req_link {
  font-size: 75%;
  margin-left: 0.75em;
  font-weight: normal;
}

