/* layout, major elements */

body {
  background-color: #f9f9f9;
  color: $text_colour;
  font: 12pt/14pt "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 1em 50px;
  max-width: $max_width;
  &.blank {
    margin: $vertical_space * 2 auto $vertical_space auto;
    width: $left_width;
  }
}

#left_column {
  width: $left_width;
  float: left;
  margin: 0;
  padding: 0;
}

#right_column {
  width: $right_width;
  float: right;
  margin: 1em 0 0 $column_spacing;
  padding: 0;
}

@media screen and (max-width: $max_width + ($column_spacing * 2.5)) {
  #left_column, #right_column {
    width: $left_width;
    margin: 0;
    padding: 0;
    float: left;
    clear: both;
	}
}

@media only screen and (max-device-width : 1024px) {
  #left_column, #right_column {
    width: 100%;
    margin: 0;
    padding: 0;
    float: left;
  }
}

a, .post_link {
  color: $link_colour;
  text-decoration: underline;
}

h1 {
  color: $text_colour;
  padding: 0;
  margin: 10px 0px;
  font-size: 1.8em;
  width: 100%;
  a {
    color: #444;
    text-decoration: none;
  }
}

h2 {
  font-size: 1.1em;
}

h3 {
  font-size: 0.9em;
  margin: 0;
  padding: 0;
}

.hidden {
  display: none;
}

.hilight {
  color: #d33;
}

.save {
  color: $detail_text_colour;
}

.version {
  @include centered-detail;
  padding-top: 5em;
}

.navigation {
  @include centered-detail;
}

.btw {
  @include centered-detail;
  font-style: italic;
}

br {
  clear:both;
}

#red_status {
  color: $detail_text_colour;
  font-size: $detail_font_size;
  margin-top: 1em;
  @include centered-detail;
  width: $left_width;
}

#final_status {
  color: $detail_text_colour;
  font-size: $detail_font_size;
  position: absolute;
  top: 2em;
  right: 2em;
}

form.link {
  display: inline;
}
form.link input[type='submit'] {
  border: none;
  padding: 0;
  background: none;
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
  color: $link_colour;
  text-decoration: underline;
}


/* footer */

body.blank > .footer {
  position: absolute;
  margin: 0 auto;
  bottom: 15%;
  width: $left_width;
}

.twitterlogo {
  color: #1DA1F2;
  filter: invert(51%) sepia(35%) saturate(2513%) hue-rotate(176deg) brightness(98%) contrast(93%);
  height: 18px;
  margin-bottom: -5px;
}

/* news */

.news {
  text-align: center;
  font-size: 1.0;
  font-weight: normal;
  width: $left_width;
}
.news-banner {
  color: $detail_text_colour;
}

/* errors */

.error {
  color: #eaeaea;
  background-color: #a33;
  @include rounded_corners(0.5em);
  padding: 0.5em;
  font-weight: bold;
  font-size: 1.1em;
  max-width: $left_width;
}

.error a {
  color: white;
}
