/* request */

input:focus {
  outline: 0;
}

input#uri, input#go {
  border: 2px solid $input_colour;
  font-size: 1.1em;
  height: 30px;
  padding: 1px;
  margin: 0;
  box-sizing: border-box;
}

#request_form {
  width: var(--width);
}

input#uri {
  width: calc(var(--width) - 40px);
  color: $text_colour;
  border-right: none;
  padding-left: 0.5em;
  border-radius: 0.5em 0 0 0;
  &::placeholder {
    color: lighten($text_colour, 70%);
  }
}

input#go {
  width: 40px;
  border-left: none;
  background-color: #d33;
  color: white;
  border-radius: 0 0.5em 0 0;
}

.add_req_hdr {
  border-radius: 0 0 0.5em 0.5em;
  background-color: $input_colour;
  width: var(--width);
  margin: 0;
}

#add_req_hdr {
  font-size: 0.65em;
  margin-left: 2em;
  color: white;
  text-decoration: none;
}

.delete_req_hdr {
  @extend #add_req_hdr;
  margin-left: 0.5em;
}

.req_hdr {
  background-color: $input_colour;
  width: var(--width);
  white-space: nowrap;
}

input.hdr_name, select.hdr_name {
  width: 130px;
  box-sizing: border-box;
}

input.hdr_val, select.hdr_val {
  width: calc(var(--width) - 130px - 40px);
  box-sizing: border-box;
}

option[value="other..."] {
  color: $detail_text_colour;
  font-style: italic;
}

.req_link {
  font-size: 75%;
  margin-left: 0.75em;
  font-weight: normal;
}

