/* summary table for multiple responses */

table#summary {
  font-size: 0.8em;
  width: 100%;
  border-spacing: 0;
  background-color: $console_colour;
  color: #ddd;
  @include rounded_corners(1em);
  border: 1px solid black;
  padding: 1em;
  margin-top: 1em;
  th {
    text-align: left;
    padding: 2em 0.5em 0.25em 0.5em;
    border-bottom: 1px solid #666;
    vertical-align: bottom;
  }
  td {
    text-align: center;
    padding: 0.25em 0.4em;
    white-space: nowrap;
  }
  tr:hover td {
    background-color: #333;
  }
  td.uri {
    text-align: left;
    font-family: monospace;
  }
  td a {
    color: #ccf;
    text-decoration: none;
  }
}

table#summary a.fade {
  color: $console_colour;
  background: linear-gradient(90deg, rgba(204,204,255,1) 0%, rgba(204,204,255,1) 93%, rgba(204,204,255,0) 100%);
  color:transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

// filters via https://codepen.io/sosuke/pen/Pjoqqp

.yes img {
  fill: #94C594;
  filter: invert(80%) sepia(25%) saturate(395%) hue-rotate(71deg) brightness(89%) contrast(88%);
  height: $icon_size;
}
.no img {
  fill: #D98080;
  filter: invert(89%) sepia(22%) saturate(4693%) hue-rotate(301deg) brightness(90%) contrast(86%);
  height: $icon_size;
}
.maybe img {
  fill: #AA8A22;
  filter: invert(63%) sepia(66%) saturate(5879%) hue-rotate(29deg) brightness(105%) contrast(73%);
  height: $icon_size;
}
