
/* request */

input#uri, input#submit {
  border: 2px solid #898984;
  font-size: 1.1em;
  height: 21px;
  padding: 1px;
  margin: 0;
  box-sizing: content-box;
}

input#uri {
  width: $left_width - 6px - 40px;
  color: $text_colour;
  border-right: none;
  &::placeholder {
    color: lighten($text_colour, 70%);
  }
}

input#submit {
  width: 40px;
  border-left: none;
  border-right: none;
  background-color: #898984;
  color: white;
}

.add_req_hdr {
  -webkit-border-bottom-right-radius: 0.5em;
  -webkit-border-bottom-left-radius: 0.5em;
  -moz-border-radius-bottomleft: 0.5em;
  -moz-border-radius-bottomright: 0.5em;
  background-color: #898984;
  width: $left_width;
  margin: 0;
}

#add_req_hdr {
  font-size: 0.65em;
  margin-left: 2em;
  color: white;
  text-decoration: none;
}

.delete_req_hdr {
  @extend #add_req_hdr;
  margin-left: 0.5em;
}

.req_hdr {
  background-color: #898984;
  width: $left_width;
  white-space: nowrap;
}

input.hdr_name {
  width: 120px;
}

input.hdr_val {
  width: 470px;
  max-width: 470px;
}

option[value="other..."] {
  color: $detail_text_colour;
  font-style: italic;
}

.req_link {
  font-size: 75%;
  margin-left: 0.75em;
  font-weight: normal;
}

@media only screen and (max-device-width : 1024px) {
  .req_hdr, .add_req_hdr { width: 100%; }
  input#uri { width: 98%; }
}
