@use "red_vars";

/* note lists */

ul {
  margin-top: 0.2em;
  margin-left: 12pt;
}

ul ul {
  padding-left: 9pt;
  margin-bottom: 0.4em;
}

li {
  padding-left: 4pt;
  margin-bottom: 6px;
}

li ul {
  margin-top: 5px;
}

/* note levels */

@mixin svg-bullet($url, $color) {
  position: absolute;
  display: block;
  content: '';
  left: -1.3em;
  width: 1em;
  height: 1.1em;

  // Use mask to colorize the SVG
  -webkit-mask-image: url($url);
  mask-image: url($url);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 1em;
  mask-size: 1em;
  -webkit-mask-position: 0 .1em;
  mask-position: 0 .1em;

  background-color: $color;
}

li.note {
  list-style-type: none;
  position: relative;
}

li.note.hilight {
  font-weight: bold;
}

.good {
  color: red_vars.$good_text_colour;
}

li.good:before {
  @include svg-bullet('icons/check-circle.svg', red_vars.$good_colour);
}

.warning {
  color: red_vars.$warning_text_colour;
}

li.warning:before {
  @include svg-bullet('icons/exclamation-circle.svg', red_vars.$warning_colour);
}

.bad {
  color: red_vars.$bad_text_colour;
}

li.bad:before {
  @include svg-bullet('icons/times-circle.svg', red_vars.$bad_colour);
}

.info {
  color: red_vars.$text_colour;
}

li.info:before {
  @include svg-bullet('icons/info-circle.svg', red_vars.$info_colour);
}