/* request */

input#uri {
  width: $left_width - 7px;
  font-size: 1.1em;
  color: $text_colour;
  &::placeholder {
    color: lighten($text_colour, 70%);
  }
}

.add_req_hdr {
  -webkit-border-bottom-right-radius: 0.5em;
  -webkit-border-bottom-left-radius: 0.5em;
  -moz-border-radius-bottomleft: 0.5em;
  -moz-border-radius-bottomright: 0.5em;
  background-color: #898984;
  width: $left_width;
  margin: 0;
}

#add_req_hdr {
  font-size: 0.65em;
  margin-left: 2em;
  color: white;
  text-decoration: none;
}

.delete_req_hdr {
  @extend #add_req_hdr;
  margin-left: 0.5em;
}

.req_hdr {
  background-color: #898984;
  width: $left_width;
  white-space: nowrap;
}

.hdr_name, .hdr_val {
  font-size: 0.7em;
}

input.hdr_val {
  width: 200px;
  max-width: 200px;
}

option[value="other..."] {
  color: $detail_text_colour;
  font-style: italic;
}

.req_link {
  font-size: 75%;
  margin-left: 0.75em;
  font-weight: normal;
}

@media only screen and (max-device-width : 1024px) {
  .req_hdr, .add_req_hdr { width: 100%; }
  input#uri { width: 98%; }
}


/* response detail */

#response {
  font-size: 10pt;
  font-family: Courier, monospace;
  background-color: $console_colour;
  color: $header_colour;
  @include rounded_corners(0.75em);
  border: 1px solid black;
  padding: 1em 0;
  margin-bottom: 0;
  overflow-x: auto;
  a {
    color: #ccf;
  }
}

.nonfinal_response {
  @extend #response;
  background-color: transparentize($console_colour, 0.4);
  border: none;
}

.hdr.hilight {
  color: lighten($header_colour, 100%);
  font-weight: bold;
}

.options {
  margin-top: 0.2em;
  margin-bottom: 2em;
  padding-top: 0;
  text-align: center;
  font-size: 0.75em;
}

.options > * {
  padding-right: 2em;
}

/* response body */

#body {
  display: none;
  position: absolute;
  right: 3em;
  left: 3em;
  .prettyprint {
    font: 0.80/1.00 Consolas, "Lucida Console", Monaco, monospace;
    overflow-x: auto;
    overflow-y: hidden;
    background-color: #fff;
    @include rounded_corners(1em);
    border: 1px solid #ccc;
    padding: 9px;
  }
}
