/* layout, major elements */

body {
  --width: 650px;
  background-color: $bg_colour;
  color: $text_colour;
  font: 12pt/14pt "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 1em $column_spacing;

  &.blank {
    margin: $vertical_space * 2 auto $vertical_space auto;
    width: var(--width);
  }
}

#columns {
  @include flexbox();
  @include flex-flow(row wrap);
}

#left_column {
  width: var(--width);
  margin: 0;
  padding: 0;
}

#right_column {
  @include order(1);
  margin: 1em 0 0 $column_spacing;
  padding: 0;
}

@media screen and (max-width: 650px) {
  body {
    @include flex-flow(column wrap);
    --width: calc(100% - 4px);
  }

  #right_column {
    margin: 0;
  }
}

a,
.post_link {
  color: $link_colour;
  text-decoration: underline;
}

h1 {
  color: $text_colour;
  padding: 0;
  margin: 10px 0px;
  font-size: 1.8em;

  a {
    color: #444; // This seems intentional for title link color, maybe add a var if needed? Let's leave for now or map to closest.
    // Actually, let's map it to something reasonable or leave it if it's specific.
    // dark mode might need lighter. Let's make it $input_text_colour which is #111/#ddd? No.
    // Let's us $option-colour (#333/#bbb) or just leave it and assume it's fine or user didn't ask to change *everything*.
    // Wait, #444 on dark bg is bad. I should use a variable.
    // $text_colour is #111/#ddd. h1 a is #444. Maybe $console_colour?
    // Let's try explicit variable or reuse.
    color: $detail_text_colour; // #737373 / #aaa
    text-decoration: none;
  }
}

h2 {
  font-size: 1.1em;
}

h3 {
  font-size: 0.9em;
  margin: 0;
  padding: 0;
}

.hidden {
  display: none;
}

.js {
  display: none;
}

.hilight {
  color: $hilight_colour;
}

.save {
  color: $detail_text_colour;
}

.version {
  @include centered-detail;
  padding-top: 5em;
}

.navigation {
  @include centered-detail;
}

.btw {
  @include centered-detail;
  font-style: italic;
}

br {
  clear: both;
}

abbr {
  text-decoration: none;
}

#red_status {
  color: $detail_text_colour;
  font-size: $detail_font_size;
  margin-top: 1em;
  @include centered-detail;
  width: var(--width);
}

#final_status {
  color: $detail_text_colour;
  font-size: $detail_font_size;
  position: absolute;
  top: 2em;
  right: 2em;
}

form.link {
  display: inline;
}

form.link input[type='submit'] {
  border: none;
  padding: 0;
  background: none;
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
  color: $link_colour;
  text-decoration: underline;
  text-align: left;
}

/* footer */

body.blank>.footer {
  position: absolute;
  margin: 0 auto;
  bottom: 15%;
  width: var(--width);
}

/* news */

.news {
  text-align: center;
  font-size: 1.0;
  font-weight: normal;
  width: var(--width);
}

.news-banner {
  color: $detail_text_colour;
}

/* errors */

.error {
  color: $error_text_colour;
  background-color: $error_bg_colour;
  @include rounded_corners(0.5em);
  padding: 0.5em;
  font-weight: bold;
  font-size: 1.1em;
  width: var(--width);
  box-sizing: content-box;
}

.error a {
  color: white; // keep white for contrast on error bg
}