body {
	background-color: #efefef;
	color: #111;
	font: 1.05em/1.15em sans-serif;
	margin: 1em 4em;
}
h1 {
	color: #555;
	padding: 0;
	text-align: right;
	font-size: 1.2em;
	width: 600px;
}
.hilight {
	color: #d33;
}
h2 {
	font-size: 1.1em;
}
h3 {
	font-size: 0.9em;
	margin: 0;
	padding: 0;
}

ul {
	margin-top: 0.2em;
	margin-left: 1em;
}
ul ul {
	padding-left: 0.6em;
	margin-bottom: 0.4em;
}
pre {
	background-color: #111;
	color: #ddd;
	border-radius: 1em;
	-moz-border-radius: 1em;
	-webkit-border-radius: 1em;
	border: 1px solid black;
	padding: 1em 0em;
	margin-bottom: 0em;
	width: 100%;
}
pre a {
	color: #ccf;
}
input {
	font-size: 1.1em;
	width: 600px;
}
#main {
	float: left;
	width: 600px;
}
#long_mesg {
	position: fixed;
	left: 710px;
	right: 3em;
	top: 115px;
	border: 0;
	padding: 0;
	margin: 0;
	max-width: 500px;
}
.good {
	color: #060;
	list-style-image: url(icon/accept1.png);
}
.warning {
	color: #660;
	list-style-image: url(icon/yellowflag1.png);
}
.bad {
	color: #800;
	list-style-image: url(icon/remove-16.png);
}
.info {
	color: #111;
	list-style-image: url(icon/infomation-16.png);
}
.options {
	margin-top: 0.2em;
	margin-bottom: 2em;
	padding-top: 0em;
	text-align: center;
	font-size: 0.6em;
}
.options a {
	padding-right: 2em;
}
.hidden_desc {
	display: none;
}
.stats {
	text-align: center;
	color: #aaa;
	font-size: 0.6em;
}
.version {
	padding-top: 5em;
	text-align: center;
	color: #aaa;
	font-size: 0.6em;
}
.navigation {
	text-align: center;
	color: #aaa;
	font-size: 0.8em;
}