body {
	background-color: #efefef;
	color: #111;
	font: 1.05em/1.15em sans-serif;
	margin: 1em 3em;
}
h1 {
	color: #555;
	padding: 0;
	font-size: 1.2em;
	width: 600px;
}
.hilight {
	color: #d33;
}
h2 {
	font-size: 1.1em;
}
h3 {
	font-size: 0.9em;
	margin: 0;
	padding: 0;
}

ul {
	margin-top: 0.2em;
	margin-left: 1em;
}
ul ul {
	padding-left: 0.6em;
	margin-bottom: 0.4em;
}
pre {
	background-color: #111;
	color: #ddd;
	border-radius: 1em;
	-moz-border-radius: 1em;
	-webkit-border-radius: 1em;
	border: 1px solid black;
	padding: 1em 0em;
	margin-bottom: 0em;
	width: 100%;
}
pre a {
	color: #ccf;
}
input[type="text"] {
	font-size: 1.1em;
	width: 600px;
}
label {
	font-size: 0.85em;
	color: #666;
}
table {
	font-size: 0.8em;
	width: 100%;
	border-spacing: 0;
	background-color: #111;
	color: #ddd;
	border-radius: 1em;
	-moz-border-radius: 1em;
	-webkit-border-radius: 1em;
	border: 1px solid black;
	padding: 1em;
}
th {
	text-align: left;
	padding: 2em 0.5em 0.25em 0.5em;
	border-bottom: 1px solid #666;
	vertical-align: bottom;
}
td {
	text-align: center;
	padding: 0.25em 0.4em;
	white-space: nowrap;
}
tr:hover td {
	background-color: #333;
}
td.uri {
	text-align: left;
	font-family: monospace;
}
td a {
	color: #ccf;
}
#main {
	float: left;
	width: 600px;
}
.mesg_sidebar {
	position: fixed;
	left: 710px;
	right: 3em;
	top: 115px;
	border: 0;
	padding: 0;
	margin: 0;
	max-width: 500px;
}
.mesg_banner {
}
.good {
	color: #060;
	list-style-image: url(icon/accept1.png);
}
.warning {
	color: #660;
}
ul li.warning {
	list-style-image: url(icon/yellowflag1.png);
}
.bad {
	color: #800;
}
td.bad {
	color: #e66;
	font-style: bold;
}
ul li.bad {
	list-style-image: url(icon/remove-16.png);
}
.info {
	color: #111;
	list-style-image: url(icon/infomation-16.png);
}
.detail {
        display: none;
}
.fade1 { opacity: 0.75; }
.fade2 { opacity: 0.5; }
.fade3 { opacity: 0.25; }
.options {
	margin-top: 0.2em;
	margin-bottom: 2em;
	padding-top: 0em;
	text-align: center;
	font-size: 0.6em;
}
.options a {
	padding-right: 2em;
}
.hidden_desc {
	display: none;
}
.stats {
	text-align: center;
	color: #aaa;
	font-size: 0.6em;
}
.version {
	padding-top: 5em;
	text-align: center;
	color: #aaa;
	font-size: 0.6em;
}
.navigation {
	text-align: center;
	color: #aaa;
	font-size: 0.8em;
}
#preview {
	position: absolute;
	border: 1px solid #ddd;
	background: #666;
	padding: 6px;
	display: none;
	color: #efefef;
	font-size: 0.75em;
}
#popup {
	position: absolute;
	border: 1px solid #ddd;
        border-radius: 0.5em;
	-moz-border-radius: 0.5em;
	-webkit-border-radius: 0.5em;
	background: #666;
	padding: 6px;
	color: #efefef;
	font-size: 0.85em;
        width: 500px;
        z-index: 10;
        display: none;
}
.prob_title {
	display: none;
	position: absolute;
	border: 2px solid #33d;
	background: #fefefe;
	padding: 6px;
	display: none;
	color: #111;
	font-size: 0.9em;
	width: 144px;
	white-space: normal;
	text-align: left;
	border-radius: 0.75em;
	-moz-border-radius: 0.75em;
	-webkit-border-radius: 0.75em;
}
.news {
	text-align: center;
	font-size: 1.0em;
	font-weight: normal;
}
.news-banner {
	color: #999;
}